<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <center>
            <h3>
                <i class="fas fa-bookmark"></i>
                - TalkAway
            </h3>
            <div class="section">
                <p class="lead">Create public and private stories, with a click.</p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <a href="/dashboard" class="btn red darken-1">
                    <i class="fab fa-google left"></i> Sign In With Google (off)
                </a>
            </div>
        </center>
    </div>
</body>

</html>